*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    padding-top: 50px;
    color: black;
    text-align: center;

}
.navbar{
    display: flex;
    align-items: center;
    padding: 30px;
}

nav{
    flex: 1;
    text-align: right;
    padding-left: 20px;
    padding-right: 80px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
a{
    color: black;
}

p{
    color: black;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
   
  max-width: 50%;
  max-height: 50%;
  padding: 50px 0;

}
.btn{
    display: inline-block;
    padding: 8px 30px;
    background: #F6B400;
    color:black;
    margin: 30px 0;
    border-radius: 30px;
}
.header{
    background-color: #fff;
}
.header .row{
   
    margin-top: 70px;
}
.logo em{
    color: #F6B400;
}






/*----------quality------*/
.quality{
    padding: 50px;
    display: inline-flex;
    background-color:#E1EBE6 ;
}
.quality .column{
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 10px;
    border: solid black;
    transition: transform 0.5s;
}
.quality .column img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.quality .column img:hover{
    transform: translateY(-10px);
}
.column p{
    font-size: 12px;
    margin: 12px 0;
    color: black;
}
.column h3{
    font-weight: 600;
    color: black;
    font-size: 15px;
}
.menu {
    display: inline-flex;    
}
.col1{
    margin: 50px;
    padding: 10px 10px;
    height: 50%;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.1);

}
.menu2{
    display: inline-flex;
}
.title{
    text-align: center;
    padding: 20px;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #F6B400;
    
}
em{
    color: black;
}
.col1{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col1 img{
    width: 150px;
    height: 100px;
}
.col1 p{
    font-size: 15px;
}
/*double-----------*/
.double{
    background: radial-gradient(#fff,#E1EBE6);

}
.double em{
    color: #F6B400;
}
/*----------discover------*/
.disc{
   background: radial-gradient(#fff,#F6B400);

   margin: 30px;
   height: 400px;
}
.disc img{
    float: right;
    height: 300px;
    width: 350px;
    padding: 50px;
}
.disc h2{
    padding: 100px;
}
/*-----------footer-----*/
 .siteMap{
    background-color:#E1EBE6;
   color: black;
   width: 100%;
   box-sizing: border-box;
   margin: 3em 0;
   padding: 0 5%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}
.footer{
    float: left;
    display: flex;
    width: 30.3%;
    text-align: left;
    display: inline;
    margin: 10px 50px;
}
.footer em{
    color: #F6B400;
}
.footer p{
    margin-top: -250px;
    display: flex;
    align-items: center;
    justify-content: center;
}